/*----- google Font -----*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
	background-image: url('fon.jpg');
	-webkit-background-size: auto, 100%;
	background-size: auto, 100%;
}

/*----- Выравнивание по серердине -----*/
.dws-wrapper {
	width: 340px;
	margin: auto;
	margin-top: 30px;
}
.dws-form {
	background-color: rgba(255,255,255,0.2);
	padding: 10px;
	/*min-width: 330px;*/
}
.dws-form a, .button {
	text-decoration: none;
	transition: .5s;
	color: #298cad;
}
.dws-form a:hover, .button:hover {
	background-color: #36d2ff;
}
.dws-form ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.dws-form input {
	display: block;
	width: 100%;
}
.tab-form {
	background-color: #fff;
	display: none;
	padding: 30px 20px 30px;
}
.tab-form.active {
	display: block;
}
label.tab {
	color: #fff;
	font-weight: 700;
	padding: 15px;
	display: inline-block;
	border-radius: 3px 3px 0 0;
	margin-bottom: -1px;
	cursor: pointer;
	width: 160px;
}
label.tab.active {
	background-color: #fff;
	color: #1d5f75;
}

/*----- Иконки во вкладках -----*/
.tab::before {
	content: '\f090';
	font-family: 'FontAwesome', sans-serif;
	font-size: 24px;
	margin-right: 11px;
	font-weight: normal;
}
.tab[for*='2']::before {
	content: '\f234';
}

/*----- Формы -----*/
.input {
	font-size: 16px;
	border: 2px solid #e9eaea;
	padding: 12px 14px;
	box-sizing: border-box;
	color: #1e8da6;
	margin-bottom: 22px;
	outline: none;
}

::-webkit-input-placeholder {color:#c4c9c9;}/*webkit*/
::-moz-placeholder {color:#298cad;}/*Firefox 18+*/
:-moz-placeholder {color:#298cad;}/*Firefox 18-*/
:-ms-input-placeholder {color:#298cad;}/*IE*/

a.button, .button{
	background: #298cad;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	display: block;
	text-align: center;
	line-height: 46px;
	margin-top: 30px;
	margin-bottom: 10px;
	border: none;
}

/*----- Анимированный чекбокс -----*/
.recover {
	margin-top: 15px;
	font-size: 12px;
}
label[for='ckbox'] {
	cursor: pointer;
	padding-left: 35px;
	width: 250px;
	display: block;
	position: relative;
}
label[for='ckbox']::before {
	content: '';
	position: absolute;
	border: 2px solid #c4c9c9;
	width: 18px;
	height: 18px;
	top: 0;
	left: 0;
	border-radius: 3px;
	transition: .2s;
}
#ckbox:checked + label::before {
	border-top: 2px solid transparent;
	border-left: 2px solid transparent;
	border-right: 2px solid #409cc2;
	border-bottom: 2px solid #409cc2;
	transform: rotate(40deg);
	width: 12px;
	height: 22px;
	transform-origin: 100% 100%;
	top: -4px;
	left: -5px;
}
#ckbox {
	display: none;
}

.del {
	display: none;
}